/*This document should only contain margin and padding directives*/


/*This document also contains media queries as they are largely for layout purposes*/

.hero {
  margin: auto;
}
main {
  padding-top: 2em;
}
.main__block{
  margin-bottom: 3em;
}
/* Box Slider layout things */

.bx-viewport {
  margin: auto;
  background-color: black;
}
.bxslider img {
  margin: 0 auto;
}

/* Scrolling sidebar layout things */

.scrollBox {
  padding-left: 0.1em;
}

/* Menu layout */

.menu {
  margin-left: 1em;
  margin-top: 1em;
}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 0;
}
.menu ul li a {
  margin: 0px;
}
.menu ul ul li {
  padding-left: 6em;
}
.menu ul ul li:hover {
  padding-left: 7em;
}

/* Footer layout things */

footer {
  position: relative;
  bottom: 0em;
  left: 2em;
}
footer h6 {
  display: inline-block;
  margin: 0.5em;
  padding: 0;
}

/* Gallery Layout */

.hunters .bx-viewport {
  padding-bottom: auto;
}

.caption1 {
margin-left: 0.5em;
}
.caption2 {
  margin-left: 0.5em;
}
