/*This document will contain sizing, images, color, text*/

body {
  background: url(../images/background.png);
  font-family: 'Adamina', serif;
}
a {
  text-decoration: none;
  color: #8c072b;
}
a:hover {
  text-decoration: none;
  color: #8c072b;
}
.hero {
  width: 100%;
  margin:auto;
}
.centerPiece {
  font-family: "IM Fell English";
  text-align: center;
}
/* Box Slider styling things */

.bxslider li {
  background-color: black;
}
.bxslider {
  background-color: black;
}
.bx-viewport {
  background-color: black;
}
.bx-wrapper {
  margin-top: 10em;
}
.caption1 {
  color: #7f7f7f;
}
.caption2 {
  color: #6f6f6f;
}
/* sets the height of the top setion of the page */
.container {
  display: block;
  height: 40em;
}
.container__gallery {
  display: block;
  height: 27em;
}
.container__gallery a {
  color: #8c072b;
}
.container__gallery .hero {
  max-width: 20em;
}
/* Scrolling sidebar styling things */
.scrollBox {
  background-color: #ccc;
  height: 40em;
  overflow: auto;
}
.scrollBox h2 {
  text-align: center;
  font-family: 'IM Fell English';
}

/* The many things for the menu ... */

.menu {
  width: 15%;
  background: #000;
  position: absolute;
  text-align: center;
}
.menu ul {
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  font-size: 1.2em;
  color: #7f7f7f;
  display: block;
  border-bottom: #6a6a6a 1px solid;
}
.menu li:hover {
  display: block;
  border-bottom: #6a6a6a 1px solid;
}
.menu ul li a {
  text-decoration: none;
  color: #8c072b;
}
.menu ul li a:hover {
  color: #6f6f6f;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: #7f7f7f;
}
.menu a:hover {
  text-decoration: none;
  color: #7f7f7f;
}

/* Second menu level */

.menu ul ul li {
  font-size: 1em;
  color: #aaa;
}
.menu ul ul li:hover {
  color: #aaa;
}

footer h6 {
  font-size: 0.7em;
}
/* Gallery styling */
