/*This document will contain sizing, images, color, text*/

body {
  background: url(../images/background.png);
  font-family: 'Adamina', serif;
}

/* Box Slider styling things */

.bxslider li {
  background-color: black;
}
.bx-viewport {
  max-width: 85%;
}
/* Scrolling sidebar styling things */

.container {
  display: block;
  height: 40em;
}
.scrollBox {
  background-color: #ccc;
  height: 35em;
  overflow: auto;
}

/* The buttons for the hamburger menu */
/* from http://codepen.io/g13nn/pen/eHGEF */

/*.hamburger {
  background: none;
  position: absolute;
  top: 0;
  left: 0.2em;
  line-height: 45px;
  padding: 0px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}*/
/*.cross{
  background:none;
  position:absolute;
  top:0px;
  left:0.2em;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
}*/

/* The many things for the menu itself... */

.menu {
  width: 15%;
  background: #000;
  position: absolute;
  text-align: center;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  font-size: 1.2em;
  color: #7f7f7f;
  display: block;
  padding: 0;
  border-bottom: #1d1f20 1px solid;
}
.menu li:hover {
  display: block;
  padding: 1em 0 1em;
  border-bottom: #1d1f20 1px solid;
}
.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #7f7f7f;
}
.menu ul li a:hover {
  color: #7f7f7f;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: #7f7f7f;
}
.menu a:hover {
  text-decoration: none;
  color: #7f7f7f;
}
/* Second level */
.menu ul ul li {
  font-size: 1em;
  color: #aaa;
  padding-left: 7em;
}
.menu ul ul li:hover {
  color: #aaa;
  padding-left: 7em;
}
